html,
body {
  width: 100%;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gaegu:wght@300;400&family=Gamja+Flower&family=Hi+Melody&family=Jua&family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Stylish&display=swap');

* {
  font-family: 'Stylish', sans-serif;
}

img {
  -webkit-user-select: none;
}

header {
  width: 100vw;
  height: auto;
}

#section {
  width: 100%;
  height: 95%;
  z-index: 1;
}
.bgsection {
  padding: 5vh;
  height: 100%;
}
select,
input {
  cursor: default;
  border: none;
}

/* info-buttons */
#info-buttons {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#info-buttons > div {
  margin: 5px;
}
button#first,
button#second,
button#third,
button#fourth,
button#fifth {
  background-color: rgb(250, 250, 250);
}
/* --------- */

.nav-item {
  margin: 5px 10px;
}

.login {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "Nanum Gothic", arial, helvetica, sans-serif;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0);
}
.login h4 {
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.login_container {
  width: 400px;
  padding: 30px 35px 30px 35px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
}

.login_form-group {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: 45px;
}
#login {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  display: inline;

  font-size: 18px;
  background: #1cc979;
}

.join {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 40px;
  font-family: "Nanum Gothic", arial, helvetica, sans-serif;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0);
}
.join_container {
  width: 400px;
  padding: 30px 35px 30px 35px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
}

.join h4 {
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.register_idForm,
.register_pwForm,
.register_pwcheckForm,
.register_emailForm,
.register_nicknameForm,
.register_genderForm {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 0.3em;
  margin-bottom: -5px;
}
.register_birthForm,
.col-3 {
  display: inline;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-bottom: -10px;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 3px;
  font-size: 16px;
  border-radius: 0.3em;
}
#join {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  display: inline;
  font-size: 18px;
  background: #1cc979;
}

/*------------------------------------------------*/
.navbar-brand{
  font-size: 2rem;
}
.nav-link{
  font-size: 20px;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none !important;
}
.container p {
  margin-top: 100px;
}
.nav-logo {
  color: #1cc979;
  text-decoration: none;
  font-weight: bold;
}

.nav-item {
  margin: 5px 0px;
}
.navbar-toggler {
  border: none;
}
.navbar > .container-fluid {
    padding: 1vh 3vw
  }
#navbar {
  padding: 0%;
  z-index: 2;
  background-color: #1cc979;
}
.navd {
  width: 40vw;
  display: inline-block;
  float: right;
}
.n {
  float: right;
  list-style: none;
  margin: 0px;
  margin-left: auto;
}
.n li {
  float: left;
}

.nav-item > a {
  color: white;
  size: 20px;
}
.dropdown-item {
  color: rgb(66, 66, 66);
  size: 20px;
}
.logo {
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  margin-left: 50px;
}

.log-img {
  width: 40px;
  margin-right: 10px;
}

.toilet-info1 {
  margin-top: 5rem;
  --content-width: calc(var(--column-count) * 120);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(var(--row-count) * 120);
  width: calc(var(--content-width) + 12px);
}
.toilet-info1 > div {
  width: 100px;
  align-items: center;
}
.toilet-info1 > div > label {
  margin: 15px auto;
}
.tinfo {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 120px;
  opacity: 1;
  outline: none;
  position: relative;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: left, top;
  transition-timing-function: ease-in-out;
  user-select: none;
  width: 120px;
}
.tinfo-icon {
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 50px;
  justify-content: center;
  margin-top: 16px;
  width: 50px;
}
.tinfo-icon > img {
  width: 50px;
}
.tinfo-title {
  text-align: center;
  width: 100%;
}

#tfinfo_form {
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  padding: 70px 35px 50px 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#exampleFormControlInput1 {
  width: 550px;
  margin: 0 auto;
}
#doneBtn {
  width: 150px;
}
#addDoneBtn {
  width: 150px;
  margin: 70px auto;
}

.tinput {
  margin-top: 100px;
}

/*------------------------------------------------*/
/* 별점 매기기 */
.checked {
  color: #1cc979;
}

/* Home Map */
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  width: 100%;
  height: 93vh;
}
#menu_wrap {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#menu_wrap .option {
  text-align: center;
}
#menu_wrap .option p {
  margin: 10px 0;
}
#menu_wrap .option button {
  margin-left: 5px;
}
#placesList li {
  list-style: none;
}
#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}
#placesList .item span {
  display: block;
  margin-top: 4px;
}
#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#placesList .item .info {
  padding: 10px 0 10px 55px;
}
#placesList .info .gray {
  color: #8a8a8a;
}
#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
#placesList .info .tel {
  color: #009900;
}
#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
#placesList .item .marker_1 {
  background-position: 0 -10px;
}
#placesList .item .marker_2 {
  background-position: 0 -56px;
}
#placesList .item .marker_3 {
  background-position: 0 -102px;
}
#placesList .item .marker_4 {
  background-position: 0 -148px;
}
#placesList .item .marker_5 {
  background-position: 0 -194px;
}
#placesList .item .marker_6 {
  background-position: 0 -240px;
}
#placesList .item .marker_7 {
  background-position: 0 -286px;
}
#placesList .item .marker_8 {
  background-position: 0 -332px;
}
#placesList .item .marker_9 {
  background-position: 0 -378px;
}
#placesList .item .marker_10 {
  background-position: 0 -423px;
}
#placesList .item .marker_11 {
  background-position: 0 -470px;
}
#placesList .item .marker_12 {
  background-position: 0 -516px;
}
#placesList .item .marker_13 {
  background-position: 0 -562px;
}
#placesList .item .marker_14 {
  background-position: 0 -608px;
}
#placesList .item .marker_15 {
  background-position: 0 -654px;
}
#pagination {
  margin: 10px auto;
  text-align: center;
}
#pagination a {
  display: inline-block;
  margin-right: 10px;
}
#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

/*------------------------------------------------*/
.seeProfile__background {
  position: relative;
  justify-content: center;
}
.seeProfile__content {
  padding: 50px 35px 50px 35px;
  position: relative;
  justify-content: center;
  border-radius: 10px;
  width: 450px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customer_table {
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 3rem;
}
.buttons {
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
}

.customer_table th {
  width: 120px;
  padding: 20px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.customer_table td {
  width: 120px;
  padding: 20px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
#nickname {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
}
#profilebtn1 {
  margin: 0 10px;
}
.profilebtns{
  display: flex;
  justify-content: center;}
.editInput {
  border: none;
}

.content select {
  border: none;
}

.cancelBtn {
  margin: 0 10px;
}
.editProfile{
  display: flex;
  justify-content: center;
}
.passwords {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.pw {
  margin: 20px 30px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.info_container {
  width: 55rem;
  padding: 50px 30px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  border: double 8px;
  border-color: #1cc979;
}
.sub h1 {
  font-size: 40px;
  text-align: center;
}
.sub img {
  width: 35px;
  margin: 0 0 20px -5px;
}
.info_plus {
  margin: 15px auto;
}
.info_plus p {
  font-size: 18px;
  padding-bottom: 3px;
  display: flex;
}
.info_plus span {
  margin-left: 20px;
  margin-right: 5px;
  font-size: 27px;
}
.info_badge h5,
.ratings h5 {
  margin-left: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.badge_container {
  text-align: center;
  font-weight: bold;
  display: inline-table;
  width: 100px;
  height: 150px;
  margin-left: 25px;
}
.badge_container img {
  width: 100px;
  margin-bottom: 10px;
}
.badge_container #biget_x {
  color: #e2e2e2;
}
.badge_container #biget_xx {
  color: #e2e2e2;
}
.ratings button {
  background-color: white;
  border: none;
  margin: auto 10px;
  margin-top: 0px;
}
.not_auth h6 {
  margin: 25px auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* intro */
.intro {
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.intro_wrap1 {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px auto;
  background-color: #1cc979;
  box-shadow: 0 6px 20px rgb(0 0 0 / 25%), 0 5px 15px rgba(0, 0, 0, 0.22);
}
.intro_container1 {
  width: 30rem;
  height: 20rem;
  padding-top: 6rem;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  position: relative;
  border-color: #1cc979;
}
.intro_container1 h6 {
  margin-left: 65px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}
.intro_container1 h1 {
  margin: 0 0;
  text-align: center;
  font-size: 50px;
  margin-bottom: -30px;
  margin-top: 0px;
  font-weight: bold;
}
.intro_container1 h1 img {
  width: 60px;
  margin: 0 0 50px -5px;
}
.intro_wrap2 {
  width: 100vw;
  margin-top: 30px;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px auto;
}
.intro_container2 {
  width: 45rem;
  padding-top: 2rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  float: none; /* Added */
  margin-top: 0;
  margin-bottom: 10px; /* Added */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  position: relative;
  /* border: double 8px; */
  background-color: white;
}
.intro_container2 text {
  /* font-family: 'Gaegu', cursive; */
  font-size: 20px;
}
.intro_wrap3 {
  width: 100vw;
  height: 30vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.intro_container3 {
  width: 100vw;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
  float: none; /* Added */
  margin-top: 70px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  position: relative;
  border: none;
  background-color: #f0f0f0;
}
.intro_container3 p {
  text-align: center;
  font-size: 35px;
  margin: 35px;
  font-weight: bold;
}
.intro_container3 img {
  width: 40px;
}
.intro_register {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.intro_register img {
  width: 100%;
}
.intro_register_box {
  width: 250px;
  height: 300px;
  display: inline-grid;
  margin: auto 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: white;
}
.intro_register_text {
  width: 250px;
  text-align: center;
  margin-bottom: 25px;
}
.intro_register_text text {
  font-weight: bold;
}
.number_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transform: translate(200%, -50%);
  text-align: center;
  margin-bottom: -30px;
}
.intro_wrap4 {
  width: 100vw;
  height: 30vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
.intro_container4 {
  width: 100vw;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
  float: none; /* Added */
  margin-top: 70px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  position: relative;
  /* border: double 8px; */
  background-color: #f0f0f0;
}
/* bookmark */
#infoBtn {
  width: 150px;
  margin: -25px auto;
  float: right;
  padding: 7px;
  font-size: 18px;
}
#infoBtnn {
  width: 150px;
  margin: -25px auto;
  float: left;
  padding: 7px;
  font-size: 18px;
}
.card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
}
.bookmark th,
.bookmark td {
  text-align: center;
}
.bookmark td {
  padding: 20px 0px;
}
.bookmark-list a {
  text-decoration: none;
  color: #0a2a0a;
}
.bookmark-list a:hover {
  text-decoration: none;
  color: #1cc979;
}

.card-body {
  overflow: auto;
  width: 100%;
  height: 500px;
}
#bookmarkBtn {
  width: 150px;
}


.soupia_people{
  width: 100vw;
  height: 12vw;
  text-align: center;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.soupia_people text{
  margin: 30px auto;
  font-size: 18px;
}
@media (max-width: 767px)
{
  #menu_wrap{
    width: 95%;
    height: 33%;
  }
  .login_container{
    width: 100%;
  }
  .join_container{
  width: 100%;
  }
  #tfinfo_form{
    width: 100%;
    height: 45rem;
    margin-top: 1rem;
  }
  .tinfo-icon img{
    width: 80px;
  }
  .toilet-info1{
    margin-top: 2rem;
  }
  .info_container{
    width: 100%;
    margin: 0;
    padding: 25px 20px;
  }
  .badge_container{
    margin-left: 20px;
  }
  .ratings button {
  background-color: white;
  border: none;
  margin: 0;
}
  .not_auth h6{
    margin-top: 5px;
  }
  .seeProfile__content{
    width: 100%;
    margin-top: 1rem;
  }
  #nickname{
    font-size: 20px;
  }

  .customer_table th{
    padding: 0;
    vertical-align: inherit;
  }
  .customer_table td{
   padding: 4px;
  }

  
  #infoBtn{
    width: 120px;
  }
   #infoBtnn{
    width: 120px;
  }
  .intro_container1 h1 img {
    width: 45px;
    margin: 0 0 50px -5px;
  }
  .intro_container1{
    padding-top: 4rem;
    height: 12rem;
  }
  .intro_container2 {
    width: 100%;
  }
  .intro_container1 h1 {
    font-size: 35px;
    margin: 10px;
  }
  .intro_container1 h6 {
    font-size: 17px;
    margin: -25px 0 10px 85px;
  }
  .intro_container3 p {
    font-size: 30px;
    margin: 15px;
  }
  .intro_register_box {
    margin-top: 30px;
  }
  .intro_register {
    width: 100vw;
    display: grid;
    justify-content: center;
  }
  #bookmarkBtn {
    width: 4rem;
  }
}
