{% extends '../base.html' %}
{% load static %}

{% block title %}
<title>화장실 등록</title>
{% endblock %}

{% block content %}
<section class="bgsection bg-white">
<div class="container" id="tfinfo_form">
    <form action="{% url 'toilet:add' %}" method="POST">
        {% csrf_token %}
        <h5 class="text-center" id="tname"></h5>
        <div class="toilet-info1" style="--column-count: 5;--row-count: 1;">
            <div>
                <label class="tinfo-title">비데</label>
                <label for="tbidget" class='tinfo-icon' id="tbidgetBtn">
                    <img id="tbidget-img" src="{% static 'img/badge/question.png' %}" alt="">
                </label>
            </div>
            <div>
                <label class="tinfo-title">휴지 비치</label>
                <label for="tpaper" class='tinfo-icon' id="tpaperBtn">
                    <img id="tpaper-img" src="{% static 'img/badge/question.png' %}" alt="">
                </label>
            </div>
            <div>
                <label class="tinfo-title">잠금</label>
                <label for="tpassword" class='tinfo-icon' id="tpasswordBtn">
                    <img id="tps-img" src="{% static 'img/badge/question.png' %}" alt="">
                </label>
            </div>
            <div>
                <label class="tinfo-title">남녀분리</label>
                <label for="tpublic" class='tinfo-icon' id="tpublicBtn">
                    <img id="tpublic-img" src="{% static 'img/badge/question.png' %}" alt="">
                </label>
            </div>
            <div>
                <label class="tinfo-title ttype-title">변기 종류</label>
                <label for="ttype" class='tinfo-icon' id="ttypeBtn">
                    <img id="ttype-img" src="{% static 'img/badge/question.png' %}" alt="">
                </label>
            </div>


        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-success" id="addDoneBtn" type="submit" value="완료" onclick="setCenter()">
        </div>
        <div id="add-forms">
            {% for field in form %}
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}
        </div>
    </form>
</div>
</section>
<script>
    // 제목
    const title = document.getElementById('tname');
    const tname = JSON.parse(localStorage.getItem("tname"));
    title.innerHTML = `${tname}의 화장실 정보를 입력해주세요.`;

    // 클릭한 마커의 위도, 경도 정보 받아옴
    result = JSON.parse(localStorage.getItem("placeLocation"));
    placeName = JSON.parse(localStorage.getItem("placeName"));
    placeAddr = JSON.parse(localStorage.getItem("placeAddr"));

    document.getElementById('id_tlat').value = result.Ma;
    document.getElementById('id_tlong').value = result.La;
    document.getElementById('id_tname').value = JSON.parse(localStorage.getItem("tname"));
    document.getElementById('id_tlocation').value = JSON.parse(localStorage.getItem("taddress"));

    // 비데
    const tbidgetInput = document.getElementById('id_tbidget');
    const tbidgetBtn = document.getElementById('tbidgetBtn');
    const tbidgetImg = document.getElementById('tbidget-img');
    const tbidgetFiles = ["{% static 'img/badge/question.png' %}", "{% static 'img/badge/bidet.png' %}", "{% static 'img/badge/bidet_N.png' %}"];
    tbidgetInput.style.visibility = 'hidden';
    // 휴지
    const tpaperInput = document.getElementById('id_tpaper');
    const tpaperBtn = document.getElementById('tpaperBtn');
    const tpaperImg = document.getElementById('tpaper-img');
    const tpaperFiles = ["{% static 'img/badge/question.png' %}", "{% static 'img/badge/tissue.png' %}", "{% static 'img/badge/tissue_N.png' %}"];
    tpaperInput.style.visibility = 'hidden';
    // 비밀번호
    const tpasswordInput = document.getElementById('id_tpassword');
    const tpasswordBtn = document.getElementById('tpasswordBtn');
    const tpasswordImg = document.getElementById('tps-img');
    const tpasswordFiles = ["{% static 'img/badge/question.png' %}", "{% static 'img/badge/pw.png' %}", "{% static 'img/badge/pw_N.png' %}"];
    tpasswordInput.style.visibility = 'hidden';
    // 남녀분리
    const tpublicInput = document.getElementById('id_tpublic');
    const tpublicBtn = document.getElementById('tpublicBtn');
    const tpublicImg = document.getElementById('tpublic-img');
    const tpublicFiles = ["{% static 'img/badge/question.png' %}", "{% static 'img/badge/mw.png' %}", "{% static 'img/badge/mw_N.png' %}"];
    tpublicInput.style.visibility = 'hidden';
    // 변기
    const ttypeInput = document.getElementById('id_ttype');
    const ttypeBtn = document.getElementById('ttypeBtn');
    const ttypeImg = document.getElementById('ttype-img');
    const ttypeFiles = ["{% static 'img/badge/question.png' %}", "{% static 'img/badge/squat.png' %}", "{% static 'img/badge/toilet.png' %}"];
    ttypeInput.style.visibility = 'hidden';

    tbidgetBtn.addEventListener("click", () => {
        let currentOption = tbidgetInput.options.selectedIndex;
        if (currentOption == 2) {
            tbidgetInput.options.selectedIndex = 0;
            tbidgetImg.src = tbidgetFiles[0];
        }
        else if (currentOption == 1) {
            tbidgetInput.options.selectedIndex++;
            tbidgetImg.src = tbidgetFiles[2];
        }
        else {
            tbidgetInput.options.selectedIndex++;
            tbidgetImg.src = tbidgetFiles[1];
        }
    });
    tpaperBtn.addEventListener("click", () => {
        let currentOption = tpaperInput.options.selectedIndex;
        if (currentOption == 2) {
            tpaperInput.options.selectedIndex = 0;
            tpaperImg.src = tpaperFiles[0];

        }
        else if (currentOption == 1) {
            tpaperInput.options.selectedIndex++;
            tpaperImg.src = tpaperFiles[2];
        }
        else {
            tpaperInput.options.selectedIndex++;
            tpaperImg.src = tpaperFiles[1];
        }
    });
    tpasswordBtn.addEventListener("click", () => {
        let currentOption = tpasswordInput.options.selectedIndex;
        if (currentOption == 2) {
            tpasswordInput.options.selectedIndex = 0;
            tpasswordImg.src = tpasswordFiles[0];

        }
        else if (currentOption == 1) {
            tpasswordInput.options.selectedIndex++;
            tpasswordImg.src = tpasswordFiles[2];
        }
        else {
            tpasswordInput.options.selectedIndex++;
            tpasswordImg.src = tpasswordFiles[1];
        }
    });
    tpublicBtn.addEventListener("click", () => {
        let currentOption = tpublicInput.options.selectedIndex;
        if (currentOption == 2) {
            tpublicInput.options.selectedIndex = 0;
            tpublicImg.src = tpublicFiles[0];

        }
        else if (currentOption == 1) {
            tpublicInput.options.selectedIndex++;
            tpublicImg.src = tpublicFiles[2];
        }
        else {
            tpublicInput.options.selectedIndex++;
            tpublicImg.src = tpublicFiles[1];
        }
    });

    ttypeTitle=document.querySelector(".ttype-title")

    ttypeBtn.addEventListener("click", () => {
        let currentOption = ttypeInput.options.selectedIndex;
        if (currentOption == 2) {
            ttypeInput.options.selectedIndex = 0;
            ttypeTitle.innerText = "변기 종류"
            ttypeImg.src = ttypeFiles[0];

        }
        else if (currentOption == 1) {
            ttypeInput.options.selectedIndex++;
            ttypeTitle.innerText = "양변기"
            ttypeImg.src = ttypeFiles[2];
        }
        else {
            ttypeInput.options.selectedIndex++;
            ttypeTitle.innerText = "좌변기"
            ttypeImg.src = ttypeFiles[1];

        }
    });

    function setCenter(){
        let result=JSON.parse(localStorage.getItem("placeLocation"));
        localStorage.setItem("reLocate",JSON.stringify(result));
    }


</script>

{% endblock %}