{% extends '../base.html' %}
{% load static %}
{% block title %}
<title>화장실 정보</title>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="error_messages"></div>
        {% endfor %}
    {% endif %}
    <section class="bgsection bg-white">
    <div class="info_container">
        <div class="sub">
            <h1 id="name">"{{ toilet.tname }}"<text style="font-size: 25px;">의 화장실</text> 
                <img src="{% static 'img/fairy.png' %}">
            </h1><br>

            <div class="info_plus">
                <p><span class="material-icons-outlined">place</span>{{ toilet.tlocation }}</p>
                <p><span class="material-icons-outlined">phone_in_talk</span> {{ toilet.tnumber }}</p>
                <p><span class="material-icons-outlined">schedule </span> {{ toilet.topen }}</p>
            </div>
        </div>
        <hr size="3.5" style="margin-top: 30px;">

        <div class="info_badge">
            <h5 >화장실 정보</h5>
            <div class="badge_container">
                {% if toilet.tbidget == True %}
                    <img src="{% static 'img/badge/bidet.png' %}">
                    <text>비데</text>
                {% elif toilet.tbidget == False %}
                    <img src="{% static 'img/badge/bidet_N.png' %}">
                    <text id="biget_x">비데</text>                
                {% else %}
                    <img src="{% static 'img/badge/question.png' %}">
                    <text id="biget_xx">비데<BR>정보가 없음</text>
                {% endif %}
            </div>

            <div class="badge_container">
                {% if toilet.tpaper == True %}
                    <img src="{% static 'img/badge/tissue.png' %}">
                    <text>휴지</text>
                {% elif toilet.tpaper == False %}
                    <img src="{% static 'img/badge/tissue_N.png' %}">
                    <text id="biget_x">휴지</text>
                {% else %}
                    <img src="{% static 'img/badge/question.png' %}">
                    <text id="biget_xx">휴지<BR>정보가 없음</text>
                {% endif %}
            </div>

            <div class="badge_container">
                {% if toilet.tpassword == True %}
                    <img src="{% static 'img/badge/pw.png' %}">
                    <text>잠금</text>
                {% elif toilet.tpassword == False %}
                    <img src="{% static 'img/badge/pw_N.png' %}">
                    <text id="biget_x">잠금</text>
                {% else %}
                    <img src="{% static 'img/badge/question.png' %}">
                    <text id="biget_xx">잠금<BR>정보가 없음</text>
                {% endif %}
            </div>
            
            <div class="badge_container">
                {% if toilet.tpublic == True %}
                    <img src="{% static 'img/badge/mw.png' %}">
                    <text>남녀분리</text>
                {% elif toilet.tpublic == False %}
                    <img src="{% static 'img/badge/mw_N.png' %}">
                    <text id="biget_x">남녀분리</text>
                {% else %}
                    <img src="{% static 'img/badge/question.png' %}">
                    <text id="biget_xx">남녀분리<BR>정보가 없음</text>
                {% endif %}
            </div>
            
            <div class="badge_container">
                {% if toilet.ttype == 0 %}
                    <img src="{% static 'img/badge/squat.png' %}">
                    <text>좌변기</text>
                {% elif toilet.ttype == 1 %}
                    <img src="{% static 'img/badge/toilet.png' %}">
                    <text>양변기</text>
                </div>        
                {% else %}
                    <img src="{% static 'img/badge/question.png' %}">
                    <text id="biget_xx">변기<BR>정보가 없음</text>
                {% endif %}
            </div>
        <hr size="3.5" style="margin-top: 15px;">

        <!-- review starts here -->
        {% if user.is_authenticated %}
            <div class="ratings">
                <h5>화장실 평점</h5>
                <div class="col text-center">
                    {% if comment_exist %}
                        <div class="rated-form">
                            <button type="submit" class="fa fa-star fa-4x" id="first"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="second"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="third"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fourth"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fifth"></button>
                        </div>
                        <div><span id="rated-score">{{comment_exist.score}}</span> / 5</div>
                    {% else %}
                        <form action="{% url 'toilet:info' toilet.id %}" method="POST" class="rate-form" id="{{toilet.id}}">
                            {% csrf_token %}
                            <button type="submit" class="fa fa-star fa-4x" id="first"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="second"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="third"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fourth"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fifth"></button>
                        </form>
                        <br>
                        <div id="confirm-box"></div>

                    {% endif %}
                </div>
            </div>
            <div id="info-buttons">
                <div>
                    <a class="btn btn-success" id="infoBtnn" href="{% url 'toilet:edit' toilet.id %}">수정</a>
                </div>
                <div  class ="bookmark">
                    <form action="/addBookmark/{{ toilet.id }}/" method="post">
                        {% csrf_token %}
                        {% if bookmark_exist == None%}
                            <input class="btn btn-success" id="infoBtn" type="submit" value="북마크 등록">
                        {% else %}
                            <input class="btn btn-danger" id="infoBtn" type="submit" value="북마크 취소">
                        {% endif %}
                    </form>
                </div>
            </div>
        {% else %}
            <div class="ratings">
                <h5>화장실 평점</h5>
                <div class="col text-center">
                    {% if comment_exist %}
                        <div class="rated-form">
                            <button type="submit" class="fa fa-star fa-4x" id="first"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="second"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="third"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fourth"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fifth"></button>
                        </div>
                        <div>
                            <span id="rated-score">{{comment_exist.avg}}</span> / 5.0</div>
                    {% else %}
                        <form action="{% url 'toilet:info' toilet.id %}" method="POST" class="rate-form" id="{{toilet.id}}">
                            {% csrf_token %}
                            <button type="submit" class="fa fa-star fa-4x" id="first"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="second"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="third"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fourth"></button>
                            <button type="submit" class="fa fa-star fa-4x" id="fifth"></button>
                        </form>
                        <br>
                        <div id="confirm-box"></div>
                    {% endif %}
                </div>
            </div>
            <div class="not_auth">
                <h6>
                    리뷰 작성을 위해 <a href="{% url 'users:join' %}">회원가입</a> 또는 <a href="{% url 'users:login' %}">로그인</a>을 진행해주세요.
                </h6>
            </div>
            <div>
                <a class="btn btn-success" id="infoBtnn" href="{% url 'toilet:edit' toilet.id %}">수정</a>
            </div>
        {% endif %}



    </div>
</section>


    <script>
        let place=document.getElementById('name').innerText;
        localStorage.setItem("tname",JSON.stringify(place));
    </script>

{% endblock %}
