{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>수피아 소개</title>
{% endblock %}

{% block content %}
<div class="intro">
    <div class="intro_wrap1">
        <div class="intro_container1">
            <h6>화장실을 리뷰하다</h6>
            <h1>숲의 요정,<img src="{% static 'img/fairy.png' %}">
                수피아</h1>
        </div>
    </div>
    <div class="intro_wrap2">
        <div class="intro_container2">
            <text>
                <b>안녕하십니까. <Br>화장실 리뷰 서비스 '숲의 요정, 수피아'를 기획한 김영남입니다.<br>
                지금부터 제 이야기를 해보려고 하는데요.<Br><br>
                바야흐로 이틀 전이었습니다.<br>
                화장실을 사용하는데 잠금장치가 고장나
                문고리를 잡고 일을 봐야했습니다.<br>
                치욕적이었습니다.<br>
                저와 같은 피해자가 다시는 발생하지 않도록 하기 위해 본 서비스를 기획했습니다.<br><br>
                '숲의 요정, 수피아'는 <br>우리 모두 함께 고장난, 더러운, 휴지가 없는, 화장실의 위치를 알리고<br>
                당신의 삶에 개운함만이 가득하기를 진심으로 바라겠습니다.<br><br>
            
                대한민국의 화장실이 <br>깨끗해지는 그날까지<br>
                <div style="text-align: right;">
                    수피아 제작팀<br>
                    숲의 요정 드림
                </div>
                </b>
            </text>
        </div>
    </div>
    <div class="intro_wrap3">
        <div class="intro_container3">
            <P><img src="{% static 'img/fairy.png' %}"> 화장실 등록방법 <img src="{% static 'img/fairy.png' %}"></p>
                <div class="intro_register">
                    <div class="intro_register_box">
                        <img src="{% static 'img/1.png' %}">
                        <div class="number_circle">
                            <h2 style="font-size: 30px; font-weight: bold; margin-top: 5px;">1</h2>
                        </div>
                        <div class="intro_register_text" style="margin-top: 10px;">
                            <text>방금 사용한 가게 또는<br> 건물의 위치를 검색하세요</text>
                        </div>
                    </div>
                    <div class="intro_register_box">
                        <img src="{% static 'img/2.png' %}">
                        <div class="number_circle">
                            <h2 style="font-size: 30px; font-weight: bold; margin-top: 5px;">2</h2>
                        </div>
                        <div class="intro_register_text" style="margin-top: 10px;">
                            <text>해당 위치를 클릭해<br> 등록 페이지로 이동합니다</text>
                        </div>                       
                    </div>
                    <div class="intro_register_box">
                        <img src="{% static 'img/3.png' %}">
                        <div class="number_circle">
                            <h2 style="font-size: 30px; font-weight: bold; margin-top: 5px;">3</h2>
                        </div>
                        <div class="intro_register_text" style="margin-top: 10px;">
                            <text>비데, 휴지 비치, 잠금, 남녀분리,<br> 좌&양변기 여부 체크합니다</text>
                        </div>
                    </div>
                    <div class="intro_register_box">
                        <img src="{% static 'img/4.png' %}">                        
                        <div class="number_circle">
                            <h2 style="font-size: 30px; font-weight: bold; margin-top: 5px;">4</h2>
                        </div>
                        <div class="intro_register_text">
                            <text>등록 완료 후 화장실 <br>정보 페이지로 넘어가면<br> 당신의 별점을 남겨주세요</text>
                        </div>
                    </div>
                 </div>
        </div>
    </div>
    
    <!-- <div class="intro_wrap4">
        <div class="intro_container4">

        </div>
    </div> -->

</div>

{% endblock %}

