{% extends 'base.html' %}
{% block content %}
<section  class="bgsection bg-white">
<div class="join">
    <div class="join_container">
        <h4>숲의 요정, 수피아
            <img src="/static/img/fairy.png" style="width: 35px; margin:0 0 20px -5px;">
        </h4>

        <form method="post" class="post-form">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            {{ form.as_p }}
            <button id="join" type="submit" class="btn btn-primary">회원가입</button>
                <div class="text-right">
                    <span>or  <a href="{% url 'users:login' %}">로그인하기</a></span>
                </div>
        </form>
    </div>
</div>
</section>
{% endblock %}