{% extends 'base.html' %}
{% block content %}

<section class="bgsection bg-white">
<div class="login">
    <div class="login_container">
        <form action="{% url 'users:login' %}" class="post-form" method="post">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <h4>숲의 요정, 수피아
                <img src="/static/img/fairy.png" style="width: 35px; margin:0 0 20px -5px;">
            </h4>

            <div  class="login_form-group">
                <!-- <label for="username">ID</label> -->
                <input type="text" class="form-control" name="username"  placeholder="아이디" id="username" value="{{ form.username.value | default_if_none:'' }}">
            </div>
            <div class="login_form-group">
                <!-- <label for="password">PW</label> -->
                <input type="password" class="form-control" name="password" placeholder="비밀번호" id="password" value="{{ form.password.value | default_if_none:'' }}">
            </div>
            <button id="login" type="submit" class="btn btn-primary">로그인</button><br>
                 <div class="text-right ">
                       <span>or <a href="{% url 'users:join' %}">회원가입하기</a></span>
                </div>
        </form>
    </div>
</div>
</section>
{% endblock %}

